.slick-prev {
    //làm với thư viện nên luôn cần !important
    //2 cái nài trong thư viện, chịu khó vào google inspect
    left: -10px !important; //cách viền trái
    z-index: 1000 !important; //một trang web có trục z xét độ ưu tiên
    height: 48px !important;
    width: 44px !important;
    background-color: greenyellow !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important ;
    }
}
.slick-prev::before,//2 cái giống nhau thì viết chung
.slick-next::before {
    font-family: FontAwesome !important;
    color: red !important;
}
.slick-next {
    //2 cái nài trong thư viện
    right: -10px !important; //cách viền trái
    z-index: 1000 !important; //một trang web có trục z xét độ ưu tiên
    height: 48px !important;
    width: 44px !important;
    background-color: greenyellow !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important ;
    }
}

.section-share {
    &.section-specialty {
        background: #f5f5f5;
    }
    &.section-outstanding-doctor {
        background: #f5f5f5;
    }
    .section-body {
        .section-customize {
            .bg-image {
                height: 150px;
                width: 278px; //dùng với div thì ảnh ko bị vỡ như img nhưng phải set chiều cao
                background-position: center center; //chỉnh center bên trong cái img, không liên quan khung ảnh
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
                &.section-specialty {
                    background-image: url("../../assets/specialty/co-xuong-khop.jpg");
                    //nhớ là phải background-image, nếu ghi background: url() thì nó sẽ ghi đè tất cả các cái trên
                }
                &.section-medical-facility {
                    background-image: url("../../assets/medical-facility/benh-vien-thu-cuc.jpg");
                }
                &.section-outstanding-doctor {
                    background-image: url("../../assets/outstanding-doctor/anh-dai-dien-bs.jpg");
                    width: 120px; //ghi đè thằng width trên
                    height: 120px;
                    border-radius: 50%;
                }
                &.section-handBook {
                    background-image: url("../../assets/handbook/handbook.jpg");
                }
            }
        }
        //reset slick slider css
    }
}

.section-share {
    height: 330px;

    .section-contaiter {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;
            .title-section {
                font-size: 22px;
                font-weight: 600;
            }
            .btn-section {
                float: right; //cho sang bên phải
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebed;
                color: black;
                cursor: pointer;
                text-transform: uppercase; //cách chuyển text
                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }
    }
}

.section-outstanding-doctor {
    .section-customize {
        padding: 5px;
        .customize-border {
            padding: 20px;
            border: solid orange 1px;
        }
    }
    .outer-bg {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}
